body{
        background-color: #ffffff;
        width: 960px;
    }
    div{
        float: left;
    }
    nav{
        margin: 100px;
        padding: 20px;
    }
    img{
        padding: 2px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #4aaaa5;
        background: solid;
        width: 200px;
        float: left;
        padding: 25px;
    }
    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        float: left;
        padding: 50px;
        margin: 100px;
    } 
    
    /* .inner{
        border: 5 px solid;
        border-color: #dddddd;
        padding-left: 100px;
        padding-right: 100px;
        float: left;
    }
    .outer{
        width: 960px;
    
    } */
    p{
        font-family: Arial, Helvetica, sans-serif;
        line-height: 25px;
        /* text-align: left; */
    }
     .tab{
        float: right;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    footer{
        background-color: #666666;
        border-radius: 5 px solid;
        width: auto;
    }
    
    